

//@... derective objects
@import "./abstract/var";
@import "./abstract/functions";
@import "./abstract/mixins";


@import "./base/base";
@import "./base/animations";
@import "./base/typography";
@import "./base/utility";


@import "./components/blogcards";
@import "./components/button";
@import "./components/form";

@import "./layout/header";
@import "./layout/grid";
@import "./layout/footer";
@import "./layout/navigation";

@import "./pages/about";
@import "./pages/home";
@import "./pages/blogs";
@import "./pages/services";
@import "./pages/contact";

